@font-face {
  font-family: 'Roobert-bold';
  src: url('./fonts/Roobert-Bold.otf') format('woff');
}
@font-face {
  font-family: 'Roobert-SemiBold';
  src: url('./fonts/Roobert-SemiBold.otf') format('woff');
}
@font-face {
  font-family: 'Roobert-Medium';
  src: url('./fonts/Roobert-Medium.otf') format('woff');
}
@font-face {
  font-family: 'Roobert';
  src: url('./fonts/Roobert-Regular.otf') format('woff');
}
body {
  margin: 0;
  padding: 0;
  font-family: Roobert-Medium;
  color: #e9e4e9;
}
a {
  text-decoration: none !important;
  color: black;
}

.title {
  font-family: Roobert-bold;
  font-size: 80px;
  font-weight: 900;
}
.best-post {
  width: 100%;
  height: 20em;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  border-radius: 4px;
  transition: 1s;
}

.best-post-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  margin-right: 25px;
  transition: 1s;
}
.best-post-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  margin: 1em auto;
  padding: 30px 0px;
}

.best-post-content-cat {
  padding: 6px 0px;
  border-radius: 9999px;
  width: fit-content;
  margin-bottom: 15px;
  text-align: center;
  line-height: 1.5;
  font-size: 15px;
  color: #725c7a;
}

.best-post-content-title {
  font-size: 3rem;
  margin-bottom: 15px;
  line-height: 1;
}

.best-post-content-sub {
  font-size: 15px;
  line-height: 1.4;
  color: #725c7a;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  display: -webkit-box;

  overflow: hidden;
}
.all__posts {
  --auto-grid-min-size: 20rem;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: repeat(
    auto-fill,
    minmax(var(--auto-grid-min-size), 1fr)
  );
}
.post__card-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  float: left;
  transition: 1s;
}

.post__card_-2 {
  overflow: hidden;
  border-radius: 4px;
}

.post__card__image-2 {
  height: 14rem;
  width: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  transition: 1s;
}

.post__card_meta-2 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.post__card_cat {
  padding: 2px 0px;
  font-size: 14px;
  line-height: 1.5;
  width: fit-content;
  border-radius: 9999px;
  text-align: center;
  margin-bottom: 7px;
}
.post__card_title-2 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  line-height: 1;
  margin-bottom: 7px;
}

.post__card_alttitle-2 {
  color: #725c7a;
  margin: 0;
  line-height: 1.5;
  font-size: 1.125rem;
  margin-bottom: 7px;
}
.row {
  margin: 0 !important;
}
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1b012b;
  padding: 1rem 1.5rem;
  width: 24rem;
  border-radius: 0.5rem;
}
.close-button {
  float: right;
  width: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-radius: 0.25rem;
  color: lightgray;
}
.close-button:hover {
  background-color: darkgray;
}
.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}
.pink {
  background-color: #5d26c1;
}
.colorpink {
  color: ##38ef7d;
}
// GRADIENT COLORS

.black {
  color: #1b012b;
}
.dot {
  height: 10px;
  width: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: #5d26c1;
  border-radius: 50%;
  display: inline-block;
}
.underlinepink:hover {
  border-bottom: 1px solid #5d26c1;
}

img {
  max-width: 100%;
  width: auto;
  height: auto;
}
a {
  color: #08c;
  font-weight: bold;
  text-decoration: none;
}
.hentry {
  padding: 0px 40px;
  overflow-y: scroll;
  height: 100vh;
  color: #725c7a;
}
.entry-title {
  grid-area: header;

  text-transform: uppercase;
  margin: 1em 0 0.5em;
  line-height: 1;
}
.featured-image {
  grid-area: featimg;
}
.entry-meta {
  grid-area: meta;
  margin-bottom: 2em;
}
.entry-content {
  grid-area: content;
  margin: 1em auto;
}
.author,
.date {
  color: #5d26c1;
}
.author + .date:before {
  content: ' | ';
}
.author {
  /* a {
    color: #000;
    font-weight: bold;
    text-decoration: none;
  } */
}
@media (min-width: 40em) {
  .hentry {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-template-areas: 'header header header header' 'meta meta meta meta' 'featimg featimg featimg featimg' 'content content content content' 'footer footer footer footer';
  }
  .entry-title {
    font-size: 2.5em;
    margin-bottom: 0;
  }
}
@media (min-width: 50em) {
  .hentry {
    grid-template-areas: 'header header header header' 'featimg featimg featimg featimg' 'meta content content content' 'footer footer footer footer';
  }
  .author,
  .date {
    display: block;
    margin: 1em 0;
  }
  .author + .date:before {
    display: none;
  }
  .entry-title {
    font-size: 3m;
    margin-bottom: 0.7em;
  }
}
